<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}Mi Tienda de Café{% endblock %}</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.username }}!</p>
    {% else %}
    <a href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
    <header>
      <h1>Bienvenido a Mi Tienda de Café</h1>
      <nav>
        <ul>
          <li><a href="{% url 'list_products' %}">Lista de Productos</a></li>
          <li><a href="{% url 'add_product' %}">Agregar Producto</a></li>
        </ul>
      </nav>
    </header>
    <div class="container mx-auto px-4">
      <main>
        {% block content %}
        <h2>Contenido Principal</h2>
        <p>Aquí va el contenido específico de cada página.</p>
        {% endblock %}
      </main>
    </div>

    <footer>
      <p>&copy; 2023 Mi Tienda de Café</p>
    </footer>
  </body>
</html>
